<!-- <h2 mat-dialog-title>{{ data.title }}</h2> -->
<mat-dialog-content>
  <fa-icon icon="exclamation-triangle" class="fa-icon"></fa-icon>
  <div class="text-center py-5">
    <label> {{ data.message }}</label>
  </div>
</mat-dialog-content>
<!-- <a style="justify-content:flex-start;">Yes</a> <a style="justify-content:flex-end;">No</a> -->
<mat-dialog-actions align="center">
  <button mat-raised-button class="confirm-button-no" mat-dialog-close>No</button>
  <button mat-raised-button class="confirm-button-yes" (click)="submit()">Yes</button>
</mat-dialog-actions>
