<p-toast [baseZIndex]="10000">
  <ng-template let-message pTemplate="message">
    <span class="p-toast-message-icon pi"
      [ngClass]="message.severity === 'success' ? 'pi-check' : (message.severity === 'warning' ? 'pi-exclamation-triangle' : (message.severity === 'error' ? 'pi-times-circle' : 'pi-info-circle'))"
      style="font-size: 1.5em;"></span>
    <div class="p-toast-message-text">
      <div class="p-toast-summary">{{ message.summary }}</div>
      <div class="p-toast-detail" [innerHtml]="message.detail"></div>
    </div>
    <button type="button" pButton pRipple class="p-ripple p-element p-toast-icon-close p-link"
      (click)="message.clear()">
    </button>
  </ng-template>
</p-toast>
<router-outlet></router-outlet>
