<app-dashboard></app-dashboard>
<!-- <p-toast></p-toast> -->
<!-- <p-toast>
  <ng-template let-message pTemplate="message">
    <div style="flex: 1">
      <div *ngIf="message.severity === 'success'" class="success-toast">
        <i class="pi pi-check-circle"></i>
      </div>
      <div *ngIf="message.severity === 'warn'" class="warn-toast">
        <span class="pi pi-exclamation-triangle"></span>
      </div>
      <div *ngIf="message.severity === 'error'" class="error-toast">
        <span class="pi pi-times"></span>
      </div>
      <div *ngIf="message.severity === 'info'" class="info-toast">
        <span class="pi pi-info-circle"></span>
      </div>
      <div style="font-weight: bold;">{{ message.summary }}</div>
      <div [innerHtml]="message.detail"></div>
    </div>
  </ng-template>
</p-toast> -->

<p-toast [baseZIndex]="10000">
  <ng-template let-message pTemplate="message">
    <!-- <div class="p-toast-message-content p-ripple" role="alert" aria-live="assertive" aria-atomic="true"> -->
    <span class="p-toast-message-icon pi"
      [ngClass]="message.severity === 'success' ? 'pi-check' : (message.severity === 'warning' ? 'pi-exclamation-triangle' : (message.severity === 'error' ? 'pi-times-circle' : 'pi-info-circle'))"
      style="font-size: 1.5em;"></span>
    <div class="p-toast-message-text">
      <div class="p-toast-summary">{{ message.summary }}</div>
      <div class="p-toast-detail" [innerHtml]="message.detail"></div>
    </div>
    <button type="button" pButton pRipple class="p-ripple p-element p-toast-icon-close p-link"
      (click)="message.clear()">
      <!-- <span class="p-toast-icon-close-icon pi pi-times"></span> -->
    </button>
    <!-- </div> -->
  </ng-template>
</p-toast>



<router-outlet></router-outlet>
