<mat-toolbar color="primary" class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>SIAP</span>
  <span class="example-spacer"></span>
  <button routerLink="" mat-button>Home</button>
  <button routerLink="" mat-button>About</button>
  <button routerLink="" mat-button>Contact</button>
  <button [mat-menu-trigger-for]="lvl1master" mat-button>
    <mat-icon>account_circle</mat-icon> Account
  </button>
  <mat-menu #lvl1master="matMenu">
    <app-account></app-account>
  </mat-menu>
</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
      <mat-list-item routerLink="/dashboard" class="nav-item">
        <button routerLink="/dashboard" mat-flat-button class="btn-nav">
          <mat-icon>dashboard</mat-icon> Dashboard
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/penduduk" class="nav-item">
        <button routerLink="/penduduk" mat-button class="btn-nav">
          <mat-icon>supervised_user_circle</mat-icon> Penduduk
        </button>
      </mat-list-item>
      <mat-list-item class="nav-item">
        <button routerLink="/penduduk-pindah" mat-button class="btn-nav">
          <mat-icon>swap_horizontal_circle</mat-icon> Penduduk Pindah
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/penduduk-meninggal" class="nav-item">
        <button routerLink="/penduduk-meninggal" mat-button class="btn-nav">
          <mat-icon>local_hospital</mat-icon> Penduduk Meninggal
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/surat-pengantar" class="nav-item">
        <button routerLink="/surat-pengantar" mat-button class="btn-nav">
          <mat-icon>email</mat-icon> Surat Pengantar
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/kartu-keluarga" class="nav-item">
        <button routerLink="/kartu-keluarga" mat-button class="btn-nav">
          <mat-icon>email</mat-icon> Kartu Keluarga
        </button>
      </mat-list-item>
    </mat-nav-list>

  </mat-drawer>
  <mat-drawer-content>
    <div style="text-align: center;min-height: 600px;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
